ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f1f1f1;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #6c681f;
  color: white;
}
body  {
  background: url(../images/city.jpg);
  background-repeat: no-repeat;
  background-size: cover;
background-color: #cccccc;
 color: white;

}
footer {
  color: white;
	display: block;
	text-align: center;
	font-size: 1em;
	border-top: 2px solid white;
	padding-top: 10px;
	padding-bottom: 20px;
}
